<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>裕丰科技地理数据处理系统</title>
    <script type="text/javascript" src="http://maps.google.cn/maps/api/js?key=AIzaSyBS1p0Z2ibsrbtNsH6Co7ytQgL_ObYfs_E&libraries=places&language=zh-CN"></script>
    <script type="text/javascript" src="./static/lib/leaflet.js"></script>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
    <!-- Add `node_modules/` to global paths so `require` works properly in development -->
    <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
    </script>
    <% } %>
</head>

<body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
    <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
    </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
</body>

</html>