@import "reset.scss";
@import "icon.scss";
@import "spinner.scss";

.page{
    background: rgba(#131e22, 0.88);
    padding: 10px 12px 0;
    // border: 1px solid #f00;
}
.message-tip {
    display: none;
    position: fixed;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    line-height: 80px;
    top: 45%;
    left: 50%;
    // margin-left: -150px;
    text-align: center;
    color: #fff;
    background: rgba(#0c426c, 0.8);
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    box-shadow: 0 0 6px 3px rgba(255,255,255,0.1);
    opacity: 0;
    transform: translate(-50%, 190px);
    transition: transform 0.3s ease-out, opacity 0.5s linear;
    z-index: 99999;
    &.show{
        display: block;
    }
    &.active{
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.progress-bar{
    .dialog-content{
        h3{
            padding: 24px 5px 14px 5px;
            font-size: 15px;
            font-weight: normal;
            letter-spacing: 2px;
        }
        .bar-content{
            display: flex;
            height: 35px;
            align-items: center;
            margin-bottom: 20px;
            // border: 1px solid #f00;
            >div:nth-of-type(1){
                position: relative;
                width: 425px;
                border-radius: 30px;
                height: 14px;
                background: #0c426c;
                margin-right: 10px;
                overflow: hidden;
                >div{
                    height: 100%;
                    background: darken(#00badb, 10%);
                    border-radius: 30px;
                    width: 0;
                    transition: width 0.3s ease-out;
                    will-change: width;
                }
            }
        }
    }
}

.plane-sub-title{
    position: relative;
    height: 42px;
    line-height: 42px;
    padding-left: 18px;
    >h3{
        font-size: 16px;
        font-weight: normal;
        color: #74c0e3;
        letter-spacing: 2px;
    }
    >canvas{
        position: absolute;
        top: 0;
        left: -2px;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    &:before{
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        left: 1px;
        top: 50%;
        margin-top: -6px;
        border-left: 9px solid #74c0e3;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }
}

.dialog{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(#212121, 0.66);
    transition-delay: 150ms;
    .dialog-content{
        position: relative;
        background: rgba(#203337, 0.8);
        min-width: 500px;
        min-height: 100px;
        border: 8px solid rgba(#162225, 0.8);
        border-radius: 6px;
        padding: 5px 14px 0 12px;
        opacity: 0;
        transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.5, 1), opacity 0.35s linear;
        will-change: opacity, transform;
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
        transform: scale(0.5, 0.5);
        transform-origin: center center;
        &.active{
            opacity: 1;
            transform: scale(1, 1);
        }
    }
    .close-button{
        position: absolute;
        top: 9px;
        right: 15px;
        width: 12px;
        height: 12px;
        text-align: center;
        line-height: 14px;
        font-size: 12px;
        border: 1px solid rgba(#6cb2d2, 0.5);
        color: rgba(#6cb2d2, 0.5);
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.35s ease-out;
        &:hover{
            border-color: #00badb;
            color: #00badb;
            font-weight: bold;
        }
    }
}

.dialog{
    .input-wrap{
        display: flex;
        align-items: center;
        height: 50px;
        input{
            background: transparent;
            border: none;
            height: 48px;
            width: 338px;
            flex: none;
            box-sizing: border-box;
            outline: none;
            color: #74c3e3;
            font-size: 14px;
        }
        input::-webkit-input-placeholder{
            font-size: 14px;
            letter-spacing: 1px;
        }
    }
}

.data-table{
    // border: 1px solid #74c0e3;
    border-radius: 4px;
    margin: 10px 0 10px 1px;
    background: #131e22;
    overflow: hidden;
    &.shadow{
        box-shadow: 0 0 6px 3px rgba(255,255,255,0.09);
    }
    >ul{
        color: #d0d0d0;
        display: flex;
        >li{
            flex: 1;
            text-align: center;
            height: 55px;
            letter-spacing: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:nth-of-type(1){
                flex: 0.6;
            }
        }
        &:first-child{
            background: #1d2f36 !important;
            >li{
                font-size: 15px;
                color: #74c0e3;
            }
        }
        &:not(:last-child){
            border-bottom: 1px solid #1d2f36;
        }
        &:nth-child(odd){
            background: lighten(#131e22, 2%);
        }
    }

    .dialog-table-button{
        padding: 1px 12px;
        background-color: #1d2f36;
        border-radius: 4px;
        height: 36px;
        line-height: 36px;
        transition: background-color 0.35s ease-out;
        cursor: pointer;
        &:hover{
            background-color: lighten(#1d2f36, 10%);
        }
    }

    .no-data-list{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        color: #ccc;
        letter-spacing: 2px;
    }
}

.panel-tools{
    display: flex;
    height: 45px;
    padding-bottom: 6px;
    border-bottom: 1px solid #1d2f36;
    align-items: center;
    .left{
        flex: 1;
        justify-content: flex-start;
        display: flex;
    }
    .right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    input{
        background: rgba(#131e22, 0.6);
        border: 1px solid rgba(#74c0e3, 0.3);
        border-radius: 4px;
        height: 40px;
        padding: 0 12px;
        width: 300px;
        color: #fff;
        font-size: 14px;
        margin-right: 10px;
    }
    div.tool-button{
        background: #1d2f36;
        padding: 0 20px;
        display: flex;
        height: 42px;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.35s ease;
        line-height: 42px;
        letter-spacing: 1px;
        >i{
            margin-right: 5px;
            font-size: 14px;
        }
        &:hover{
            background: darken(#1d2f36, 5%);
        }
        &.brown{
            background: #4E342E;
            &:hover{
                background: darken(#4E342E, 5%);
            }
        }
        &.lime{
            background: darken(#827717, 5%);
            &:hover{
                background: darken(#827717, 10%);
            }
        }
    }
    div.file-button{
        position: relative;
        input{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            font-size: 12px;
            opacity: 0;
        }
        &.disabled{
            cursor: not-allowed;
            opacity: 0.5;
            input{
                display: none;
            }
        }
    }
    div.check-button{
        display: flex;
        align-items: center;
        cursor: pointer;
        letter-spacing: 1px;
        height: 42px;
        // border: 1px solid #f00;
        >i.iconfont{
            margin-right: 5px;
            margin-top: 2px;
        }
        >i{
            &:nth-of-type(2){
                display: none;
            }
        }
        &.active{
            >i{
                &:nth-of-type(1){
                    display: none;
                }
                &:nth-of-type(2){
                    display: block;
                }
            }
        }
        &.disabled{
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}

.dialog-condition-bar{
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 50px;
    margin: 15px 0;
    background: rgba(#1d2f36, 0.6);
    border-radius: 4px;
    border: 1px solid #74c0e3;
    color: #74c0e3;
    >span:nth-of-type(1){
        padding-left: 2px;
    }
    >span:nth-of-type(2){
        margin-left: 12px;
    }
    >input{
        background-color: #49788d;
        border-radius: 4px;
        border: 1px solid #74c0e3;
        height: 30px;
        margin-left: 12px;
        width: 200px;
        padding: 0 10px;
        color: #74c0e3;
        outline: none;
    }
    >input::-webkit-input-placeholder{
        color: rgba(#74c0e3, 0.5);
        letter-spacing: 1px;
    }
    >div.search-button{
        background-color: #49788d;
        border-radius: 4px;
        margin-left: 12px;
        padding: 6px 12px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.35s ease;
        &:hover{
            background-color: #74c0e3;
        }
    }
}

.dialog-ope-buttons{
    display: flex;
    height: 45px;
    margin-top: 15px;
    padding-bottom: 12px;
    >div{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 5px;
        border-radius: 4px;
        transition: all 0.35s ease;
        cursor: pointer;
        font-size: 14px;
        &:nth-of-type(1){
            border: 1px solid rgba(#74c3e3, 0.8);
            margin-right: 12px;
            background-color: rgba(#131e22, 0.5);
            &:hover{
                border-color: rgba(#74c3e3, 0.99);
                background-color: rgba(#131e22, 0.8);
            }
        }
        &:nth-of-type(2){
            background-color: rgba(darken(#74c3e3, 25%), 0.6);
            &:hover{
                background-color: rgba(darken(#74c3e3, 15%), 0.99);
            }
        }
    }
}

.data-selector-wrap{
    position: relative;
    // border: 1px solid #f00;
    .data-selector-input{
        position: relative;
        background: #49788d;
        border: 1px solid #74C0E3;
        border-radius: 4px;
        height: 32px;
        width: 110px;
        padding-right: 25px;
        letter-spacing: 1px;
        text-align: center;
        line-height: 32px;
        cursor: pointer;
        box-sizing: border-box;
    }
    .data-selector-icon-arrow{
        position: absolute;
        width: 0;
        height: 0;
        top: 12px;
        right: 7px;
        border-top: 8px solid #74C0E3;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }
    .data-selector-icon-delete{
        position: absolute;
        display: none;
        top: 10px;
        right: 25px;
        // display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #74C0E3;
        border-radius: 50%;
        color: #74C0E3;
        width: 10px;
        height: 10px;
        font-size: 12px;
    }
    .data-selector-list{
        position: absolute;
        display: none;
        // border: 1px solid #fff;
        margin-top: 6px;
        padding: 0px 10px;
        background: #49788d;
        line-height: 2.0;
        border-radius: 4px;
        width: 90px;
        max-height: 200px;
        overflow-y: auto;
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
        >li:not(:last-child){
            border-bottom: 1px solid rgba(#1d2f36, 0.3);
        }
        >li{
            cursor: pointer;
            font-size: 12px;
            line-height: 2.4;
            &:hover{
                color: #00badb;
            }
        }
    }
    &.active{
        .data-selector-list{
            display: block;
        }
    }
}

.pagination-wrap{
    display: flex;
    justify-content: center;
    margin: 15px 0 12px;
    >a{
        background-color: rgba(19, 30, 34, 0.6);
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.35s ease;
        &:hover:not(.disable){
            background-color: rgba(#1d2f36, 0.8);
        }
        &.disable{
            cursor: not-allowed;
        }
        &.curr{
            background-color: rgba(lighten(#1d2f36, 10%), 0.85);
        }
        &:not(:last-child){
            margin-right: 10px;
        }
    }
}

.confirm-dialog{
    .confirm-content{
        font-size: 15px;
        line-height: 2.4;
        padding-top: 15px;
        padding-left: 15px;
        letter-spacing: 1px;
        span{
            color: #cc9900;
        }
        .mini-text{
            font-size: 12px;
            line-height: 2.0;
            color: #FFCC99;
            letter-spacing: 0;
        }
    }
}