.account-page{
    .data-table{
        >ul{
            >li{
                // border-right: 1px solid #f00;
                &:nth-of-type(1){
                    flex: none;
                    width: 70px;
                }
                &:nth-of-type(7){
                    flex: none;
                    width: 270px;
                    display: flex;
                    justify-content: space-around;
                    padding: 0 12px;
                    // border: 1px solid #f00;
                }
                &:nth-of-type(6),&:nth-of-type(5){
                    flex: none;
                    width: 210px;
                    // border: 1px solid #f00;
                }
            }
        }
    }
    .add-account-dialog{
        .input-wrap{
            position: relative;
            margin-top: 10px;
            input{
                width: 100%;
                padding: 0 10px 0 112px;
                border: 1px solid #74c3e3;
                border-radius: 4px;
                color: #fff;
                font-size: 14px;
                background: rgba(#131e22, 0.6);
            }
            label{
                position: absolute;
                left: 10px;
                width: 102px;
                // border: 1px solid #f00;
                text-align: right;
                letter-spacing: 1px;
                color: #74c3e3;
                font-size: 14px;
            }
        }
    }
}
