.garden-info-plane{
    .plane-data-wrap-item{
        ul li{
            &.item-farmer-name:before{
                background-image: url('../../assets/icons/1.png');
            }
            &.item-town:before{
                background-image: url('../../assets/icons/2.png');
            }
            &.item-village:before{
                background-image: url('../../assets/icons/3.png');
            }
            &.item-address:before{
                background-image: url('../../assets/icons/4.png');
            }
            &.item-address-id:before{
                background-image: url('../../assets/icons/5.png');
            }
            &.item-varieties:before{
                background-image: url('../../assets/icons/6.png');
            }
            &.item-age:before{
                background-image: url('../../assets/icons/7.png');
            }
            &.item-area:before{
                background-image: url('../../assets/icons/8.png');
            }
            &.item-curr-num:before{
                background-image: url('../../assets/icons/9.png');
            }
            &.item-origin-num:before{
                background-image: url('../../assets/icons/10.png');
            }
            &.item-product:before{
                background-image: url('../../assets/icons/11.png');
            }
            &.item-count:before{
                background-image: url('../../assets/icons/12.png');
            }
        }
    }
    .health-info{
        position: relative;
        .year-selector{
            position: absolute;
            right: 8px;
            top: 6px;
        }
    }
}