.login-page{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100% !important;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    background-image: url("../assets/images/1.png");
    background-size: 100% 100%;
    .login-dialog{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 611px;
        height: 465px;
        margin-right: -16%;
        opacity: 0;
        box-sizing: border-box;
        padding: 80px 0 40px;
        background-image: url('../assets/images/11.png');
        z-index: 2;
        transition: opacity 0.45s linear, margin-right 0.65s ease-out;
        &.active{
            opacity: 1;
            margin-right: 6%;
        }
    }

    .input-item{
        position: relative;
        width: 446px;
        height: 55px;
        border-bottom: 1px solid #fff;
        input{
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 20px;
            box-sizing: border-box;
            padding: 0 20px 0 102px;
            &::placeholder{
                color: rgba(#fff, 0.5);
                font-size: 18px;
                letter-spacing: 3px;
            }
            &:focus{
                outline: none;
            }
        }
        i{
            position: absolute;
            width: 28px;
            height: 32px;
            top: 14px;
            left: 28px;
            font-size: 25px;
        }
        &:before{
            content: "";
            position: absolute;
            height: 2px;
            left: 0;
            width: 0;
            bottom: -1px;
            background: #0477ac;
            transition: width 0.5s ease-out;
        }
        &.active{
            &:before{
                width: 100%;
            }
            i{
                color: #0477ac;
            }
            border-bottom-color: transparent;
        }
    }
    .account{
        margin-bottom: 45px;
    }

    .remember{
        width: 446px;
        position: relative;
        display: flex;
        justify-content: flex-end;
        color: #ffffff;
        align-items: center;
        font-size: 15px;
        margin: 25px 0;
        cursor: pointer;
        letter-spacing: 1px;
        >div{
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid #0477ac;
            margin-right: 8px;
            background: #0477ac;
        }
        >i.iconfont{
            position: relative;
            opacity: 0;
            margin-right: -29px;
            font-size: 22px;
            z-index: 2;
            font-weight: bold;
            color: #040e3f;
            transform: scale(0.5, 0.5);
        }
        &.active{
            >i.iconfont{
                opacity: 1;
            }
        }
    }

    .login-button{
        width: 446px;
        button{
            width: 100%;
            background-color: transparent;
            border: none;
            color: #fff;
            height: 60px;
            border-radius: 35px;
            letter-spacing: 12px;
            font-size: 20px;
            transition: all 0.3s ease-out;
            cursor: pointer;
            border: 1px solid #fff;
            &:hover{
                background-color:rgba(#0477ac, 0.5);
            }
        }
    }

    .login-tip{
        position: absolute;
        bottom: 45px;
        left: 69px;
        color: #ff9999;
        transition: all 0.3s ease-out;
        transform: translateY(35px);
        opacity: 0;
        &.active{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .title{
        position: absolute;
        top: -18%;
        left: 0;
        right: 0;
        h1{
            display: flex;
            flex-direction: row;
            font-size: 34px;
            font-weight: bold;
            letter-spacing: 12px;
            margin-bottom: 20px;
            transition: all 0.8s ease-out;
            justify-content: center;
            span{
                display: block;
                transform: rotateY(90deg);
                opacity: 0;
                transition: all 0.8s ease-out;
                &:nth-of-type(2){
                    transition-delay: 0.1s;
                }
                &:nth-of-type(3){
                    transition-delay: 0.2s;
                }
                &:nth-of-type(4){
                    transition-delay: 0.3s;
                }
                &:nth-of-type(5){
                    transition-delay: 0.4s;
                }
                &:nth-of-type(6){
                    transition-delay: 0.5s;
                }
                &:nth-of-type(7){
                    transition-delay: 0.6s;
                }
                &:nth-of-type(8){
                    transition-delay: 0.7s;
                }
                &:nth-of-type(9){
                    transition-delay: 0.8s;
                }
                &:nth-of-type(10){
                    transition-delay: 0.9s;
                }
                &:nth-of-type(11){
                    transition-delay: 1.0s;
                }
                &:nth-of-type(12){
                    transition-delay: 1.2s;
                }
            }
            &.active{
                span{
                    opacity: 1;
                    transform: rotateY(0);
                }
            }
        }
        h4{
            font-size: 23px;
            font-weight: normal;
            letter-spacing: 4px;
            color: #e0e0e0;
            transition: all 0.3s ease-out;
            opacity: 0;
            transform: translateY(20px);
            &.active{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .exit-app-btn{
        position: absolute;
        color: #fff;
        display: flex;
        top: 15px;
        right: 13px;
        font-size: 12px;
        align-items: center;
        >i{
            display: block;
            width: 18px;
            height: 18px;
            margin-right: 4px;
            background-size: 100% 100%;
            // background-image: url('../../assets/images/exit.png');
        }
    }

    .columns{
        position: absolute;
        // border: 1px solid #ff0000;
        top: 0;
        left: 0;
        bottom: 0;
        width: 1080px;
        z-index: 1;
        >div{
            position: absolute;
            background-size: 100% 100%;
            transition: transform 0.45s ease-out, opacity 0.3s linear;
            opacity: 0;
            transform: translateY(100%);
        }
        &.active{
            >div{
                opacity: 1;
                transform: translateY(0);
            }
        }
        .column1{
            width: 96px;
            height: 319px;
            bottom: 577px;
            left: 40px;
            background: url("../assets/images/4.png");
            transition-delay: 0;
        }
        .column2{
            width: 165px;
            height: 117px;
            bottom: 810px;
            left: 318px;
            background: url("../assets/images/3.png");
            transition-delay: 0.2s;
        }
        .column3{
            width: 90px;
            height: 228px;
            bottom: 500px;
            left: 400px;
            background: url("../assets/images/5.png");
            transition-delay: 0.4s;
        }
        .column4{
            width: 103px;
            height: 292px;
            bottom: 550px;
            left: 605px;
            background: url("../assets/images/9.png");
            transition-delay: 0.6s;
        }
        .column5{
            width: 143px;
            height: 134px;
            bottom: 550px;
            left: 914px;
            background: url("../assets/images/2.png");
            transition-delay: 1.3s;
        }
        .column6{
            width: 186px;
            height: 776px;
            background: url("../assets/images/10.png");
            bottom: 0;
            left: 170px;
            transition-delay: 0.3s;
        }
        .column7{
            width: 189px;
            height: 369px;
            background: url("../assets/images/8.png");
            bottom: 0;
            left: 218px;
            transition-delay: 0.5s;
        }
        .column8{
            width: 286px;
            height: 616px;
            background: url("../assets/images/6.png");
            bottom: 0;
            left: 420px;
            transition-delay: 0.7s;
        }
        .column9{
            width: 197px;
            height: 753px;
            background: url("../assets/images/7.png");
            bottom: 0;
            left: 718px;
            transition-delay: 0.9s;
        }
    }
}
