.right-tools-container{
    position: absolute;
    right: 0;
    top: 25px;
    background: rgba(19, 30, 34, 0.9);
    width: 72px;
    min-height: 200px;
    z-index: 1000;
    padding: 6px 6px 0;
    >ul{
        padding: 1px 7px;
        background-color: #1d2f36;
        margin-bottom: 6px;
        >li{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 12px 0;
            color: #74c0e3;
            opacity: 0.4;
            transition: opacity 0.4s ease-out;
            will-change: opacity;
            cursor: pointer;
            // letter-spacing: 1px;
            font-size: 12px;
            &:not(:last-child){
                border-bottom: 1px solid #375b6a;
            }
            &.active, &:hover{
                opacity: 1;
            }
            &:before{
                content: "";
                display: block;
                width: 32px;
                height: 32px;
                flex: none;
                margin-bottom: 2px;
                background-size: 100% 100%;
            }
        }
    }
    .tool-switch-button{
        position: absolute;
        height: 98px;
        width: 20px;
        left: -20px;
        top: 50%;
        margin-top: -49px;
        background-color: #131e22;
        clip-path: polygon(0 10%, 60% 0, 100% 0, 100% 100%, 60% 100%, 0 90%);
        cursor: pointer;
        transition: all 0.4s ease-out;
        opacity: 0;
        z-index: -1;
        transform: translateX(25px);
        &:before{
            content: "";
            position: absolute;
            width: 9px;
            height: 9px;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #fff;
            transform: rotate(-135deg);
            top: 50%;
            margin-top: -5px;
            left: 2px;
        }
        &:hover{
            background-color: #304f5c;
            &:before{
                border-left-color: #74c0e3;
                border-bottom-color: #74c0e3;
            }
        }
    }
    .tool-item-point-select:before{
        background-image: url('../assets/icons/40.png');
    }
    .tool-item-line-select:before{
        background-image: url('../assets/icons/32.png');
    }
    .tool-item-garden:before{
        background-image: url('../assets/icons/34.png');
    }
    .tool-item-bgmap:before{
        background-image: url('../assets/icons/41.png');
    }
    .tool-item-hd:before{
        background-image: url('../assets/icons/37.png');
    }
    .tool-item-draw:before{
        background-image: url('../assets/icons/30.png');
    }
    .tool-item-edit:before{
        background-image: url('../assets/icons/31.png');
    }
    .tool-item-del:before{
        background-image: url('../assets/icons/33.png');
    }
    .tool-item-rect:before{
        background-image: url('../assets/icons/35.png');
    }
    .tool-item-face:before{
        background-image: url('../assets/icons/36.png');
    }
    .tool-item-plant:before{
        background-image: url('../assets/icons/38.png');
    }
    .tool-item-orchard:before{
        background-image: url('../assets/icons/39.png');
    }
    &:hover{
        .tool-switch-button{
            transform: translateX(0);
            opacity: 1;
        }
    }
}
