.task-page{
    >div.data-table{
        >ul{
            >li{
                // border-right: 1px solid #f00;
                &:nth-of-type(1){
                    flex: none;
                    width: 70px;
                }
                &:nth-of-type(10){
                    flex: none;
                    width: 210px;
                    display: flex;
                    justify-content: space-around;
                    padding: 0 10px;
                    // border: 1px solid #f00;
                }
                &:nth-of-type(6),&:nth-of-type(7),&:nth-of-type(8){
                    flex: none;
                    width: 120px;
                    // border: 1px solid #f00;
                }
            }
        }
    }

    .add-task-dialog{
        .input-wrap{
            position: relative;
            margin-top: 10px;
            input{
                width: 100%;
                padding: 0 10px 0 112px;
                border: 1px solid #74c3e3;
                border-radius: 4px;
                color: #fff;
                font-size: 14px;
                background: rgba(#131e22, 0.6);
            }
            input:disabled{
                opacity: 0.4;
                background: rgba(#cccccc, 0.1);
                border-color: rgba(#74c3e3, 0.3);
                cursor: not-allowed;
            }
            label{
                position: absolute;
                left: 10px;
                width: 102px;
                // border: 1px solid #f00;
                text-align: right;
                letter-spacing: 1px;
                color: #74c3e3;
                font-size: 14px;
            }
        }
    }

    .upload-image-dialog, .view-image-dialog{
        .panel-tools{
            padding-top: 10px;
            margin-bottom: 8px;
            border-bottom-color: rgba(#74c0e3, 0.15);
            div.tool-button{
                background: darken(#1d2f36, 2%);
                &:hover{
                    background: darken(#1d2f36, 5%);
                }
            }
            .left{
                flex: 1;
                align-items: center;
                >span{
                    margin-left: 18px;
                    &.orange{
                        color: #ff9999;
                    }
                }
            }
            .right{
                flex: none;
                width: 120px;
            }
        }
        >.dialog-content{
            width: 90%;
            max-width: 1400px;
        }
        .null-list{
            border: 1px dotted rgba(#74c0e3, 0.4);
            border-radius: 4px;
            height: 200px;
            margin-bottom: 10px;
        }
        .list-wrap{
            max-height: 600px;
            overflow: auto;
            border: 1px solid rgba(#74c0e3, 0.1);
            border-radius: 4px;
            .data-table{
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

    .upload-image-dialog{
        .list-wrap{
            .data-table{
                ul>li{
                    &:nth-of-type(1){
                        flex: 1;
                    }
                    &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(7),&:nth-of-type(8){
                        flex: none;
                        width: 150px;
                    }
                    &:nth-of-type(2){
                        flex: none;
                        width: 180px;
                    }
                    &:nth-of-type(5), &:nth-of-type(6){
                        flex: none;
                        width: 200px;
                    }
                }
            }
        }
    }

    .view-image-dialog{
        .list-wrap{
            .data-table{
                ul>li{
                    a.link{
                        cursor: pointer;
                        color: #43A047;
                        &:hover{
                            color: #ff9999;
                        }
                    }
                    &:nth-of-type(2),&:nth-of-type(5),&:nth-of-type(6){
                        flex: none;
                        width: 190px;
                    }
                    &:nth-of-type(3),&:nth-of-type(4),&:nth-of-type(7),&:nth-of-type(8){
                        flex: none;
                        width: 140px;
                    }
                    &:nth-of-type(1){
                        flex: 1;
                    }
                }
            }
        }
    }

    li.status-1{
        color: #ff9999;
    }
    li.status-2{
        color: #43A047;
    }

    .view-tiles-dialog{
        
    }
}
